/* 기본  */
body {
  font-family: 'NexonMaplestory', sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* 글자 위 아래 간격 */
  line-height: 1.5;
  color: #333;
}
a{
  text-decoration: none;
}

img {
  /* img(인라인 요소) 하단에 Baseline 공백을 제거 */
  display: block;
}

/*INNER*/
.inner {
  height: 120px;
  width: 1100px;
  margin: 0 auto;
  position: relative;
  background-color: whitesmoke;

}

/* 헤더 */
header {
  background-color: rgb(3, 74, 3);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  border-bottom: 1px solid #c8c8c8;
}

header > .inner {
  height: 120px;
}

header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0px;
  right: 0;
  margin: auto;
  /* z-index: 1; */
}

header .logo img {
  height: 90px; 
  width: auto; 
}

header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex; 
  /* z-index: 1; */
  /* justify-content: flex-start; */
  /* align-items: center; */
}
header .sub-menu ul.menu{
  display: flex; 
}
header .sub-menu ul.menu li a{
  /* 글자 양옆 사이의 간격 */
  padding: 11px 16px; 
  display: block;
  font-size: 13px;
  color: #656565;
}
header .sub-menu ul.menu li a:hover{
  color: black;
}

header .sub-menu ul.menu li{
  position: relative;
}
header .sub-menu ul.menu li::before{
  /* 컨텐츠 공백 앞에 */
  content : "";
  width: 1px;
  height: 12px;
  background-color:rgb(159, 152, 142);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before{
  display: none;
}
header .sub-menu .search input{
  position: relative;
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #656565;
  box-sizing: border-box;
  /* 10+36+10+1+1=> 전체는 58px */
  border-radius: 5px;
  /* 선이 바깥쪽에 하나 더 있는 이를 생략 */
  outline: none;
  color: #777;
  background-color: #fff;
  font-size: 12px;
  transition: width, 4s;
  margin: 5px; /* 상단 마진 추가 */
}

header .sub-menu .search input:focus{
  width: 190px;
  border-color: green;
}
header .sub-menu .search .material-symbols-outlined{
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}

header .sub-menu .search{
  position: relative;
  height: 34px;
}

/* focused 클래스 값이 있는 경우 아이콘이 투명해짐. */
header .sub-menu .search.focused .material-symbols-outlined{
  opacity: 0;
}

/* main-menu */
header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}
header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: 'NexonMaplestory', sans-serif;
  font-size: 13px;
}
header .main-menu .item:hover .item__name {
  background-color: #2C2A29;
  color: #EA9926;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  display: block;
}
header .main-menu .item .item__contents .contents__menu {
  background-color: #2C2A29;
}
header .main-menu .item .item__contents .contents__menu > ul {
  padding: 20px 0;
  display: flex;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #EA9926;
}
header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");
}
header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 900;
}
header .main-menu .item .item__contents .contents__texture p {
  color: #EA9926;
  margin: 4px 0 14px;
}
/*BADGES*/
header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}
header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0,0,0,.15);
  cursor: pointer;
}
